
ul.about-content {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.about-content li {
	padding: 20px;
	height: 500px;
	background-clip: content-box;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}
.about-left {
	flex-basis: 30%;
	background-image: url(images/2.jpg);
}
.about-right {
	flex-basis: 70%;
}
.about-right h2 {
	font-size: 35px;
}
.about-area p {
	max-width: 800px;
	margin-bottom: 35px;
	line-height: 1.5;
	text-align: left;
	padding-left: 0;
}
.section-title {
	text-transform: uppercase;
	font-size: 50px;
	margin-bottom: 5%;
}
.section-title span {
	color: #bf0a30;
}
.about-right h2 {
	margin-bottom: 3%;
}
.about-btn {
	padding: 15px 35px;
	background: #bf0a30;
	border-radius: 50px;
	text-transform: uppercase;
	color: #fff;
}
@media (max-width: 1000px) {
	.section-title {
		font-size: 35px;
	}
	.about-left, .about-right {
		flex-basis: 100%;
	}
	.about-content li {
		padding: 8px;
	}
}